table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

#dashboard-menu h3 {
    margin-top: 0;
    color: gold;
    text-align: center;
}

#adminDropdown.show {
    background-color: #333 !important;
}

#adminDropdown.show .nav-link.active {
    background-color: #333 !important;
}

/* Style for modal header and footer */
.modal-header,
.modal-footer {
    background-color: #333;
    color: white;
}

/* Style for table */
.table th,
.table td {
    vertical-align: middle;
}

.table th:last-child,
.table td:last-child {
    text-align: center;
}

.table{
    text-align: center;
}

.container{
    align-items: center;
}