/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

/*Header*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #A9A9A9; /* Tertiary background color */
    color: #fff; /* Text color */
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.contact-info,
.social-links {
    display: flex;
    align-items: center;
}

.contact-item,
.social-link {
    margin-right: 20px;
    color: gold;
    text-decoration: none;
}

.social-link:hover {
    color: black; 
}


/* Carousel */
.carousel {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    z-index: 1;
}

.carousel-inner {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.arrow.next {
    right: 10px;
}


/* Rooms Container */
.rooms-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 55%; 
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
}

.room {
    width: 30%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.room h2 {
    margin-top: 0;
}

.room img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.room p {
    margin-bottom: 10px;
}

/* Dashboard */

#dashboard-menu h3 {
    margin-top: 0;
    color: gold;
    text-align: center;
}

#adminDropdown.show {
    background-color: #333 !important;
}

#adminDropdown.show .nav-link.active {
    background-color: #333 !important;
}


/*Message*/
.message {
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 5%; 
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.message h1 {
    margin-top: 0;
    color: #ff9900;
}

.message p {
    color: black;
}